#cake {
    padding: 10px;
    margin-right: auto;
    background-color: white;
    border: 2px solid brown; 
    border-radius: 8px;
}

button{
    background-color: rgba(238, 218, 130, 0.848);
    color: rgba(167, 138, 11, 0.773);
    font-weight: 1000;
    border: 2px solid rgba(167, 138, 11, 0.773);
    border-radius: 8px;

}